http://abdulbaqi.io/2017/09/13/Wdi/

In [6]:
#! pip install wbdata
import wbdata

def country_data(country_code, indicator, start=2000, end=2015):
    import datetime
    import wbdata
    data_dates = (datetime.datetime(start,1,1), datetime.datetime(end,1,1))
    #call the api
    data = wbdata.get_dataframe({indicator:'indicator'}, 
                                country=country_code, 
                                data_date=data_dates, 
                                convert_date=True, 
                                keep_levels=False)
    
    data = data.reset_index()
    #data = data.dropna() #if I want I can drop the na's
    return data[['indicator']]


def plot_indicators(country_list, indicator, start=2000, end=2015):
    import matplotlib.pyplot as plt
    import seaborn as sns
    import wbdata
    import re
    ind = wbdata.get_indicator(indicator, display=False)
    # capture the title which includes the unit after bracket
    title = ind[0]['name']
    # now take entire text from first letter to before opening bracket
    title = title[:title.find('(')-1]
    # this is the patter to match anything between two brackets
    p = re.compile('\((.*?)\)')
    ylab = p.findall(ind[0]['name'])[0]
    sns.set_style('white')
    fig, axis = plt.subplots()
    for c in country_list:
        axis.plot(range(start,end+1),country_data(c,indicator,start,end))
    plt.legend(country_list)
    plt.title(title)
    plt.ylabel(ylab)
    plt.show()

In [4]:
country_data('IDN','EN.ATM.CO2E.PP.GD.KD')

    indicator
0         NaN
1    0.181880
2    0.201705
3    0.276695
4    0.277992
5    0.209629
6    0.231842
7    0.226354
8    0.216339
9    0.211427
10   0.221036
11   0.230642
12   0.227291
13   0.230597
14   0.231680
15   0.214482

In [5]:
plot_indicators(['SAU', 'QAT', 'BHR', 'KWT', 'OMN', 'ARE'],'EN.ATM.CO2E.PP.GD.KD',1990,2015)